@{
    ViewBag.Title = "Hizmetler";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-heading">
    <h1 class="page-title">Sabitler</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Hizmetler</li>
    </ol>
</div>
<div class="page-content fade-in-up" ng-controller="ourserviceController">
    <div class="ibox ibox-primary">
        <div class="ibox-head">
            <div class="ibox-title">Hizmet Listesi</div>
            <div class="ibox-tools">
                <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
            </div>
        </div>
        <div class="ibox-body">
            <div class="text-right mb-3">
                <button class="btn btn-success btn-sm" ng-click="newOurService()" data-toggle="modal">
                    <i class="fa fa-plus-square-o"></i> Yeni Ekle
                </button>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="ourservice-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center" width="15px">No</th>
                            <th class="text-center" width="60px">İkon</th>
                            <th class="text-center" width="60px">Durum</th>
                            <th class="text-center" width="60px">Sıralama</th>
                            <th class="text-center" ng-repeat="langItem in languageList">{{langItem.LangName}} Başlık</th>
                            <th class="text-center" width="70px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ourserviceItem in ourserviceList" on-finish-render="ngRepeatOurServiceListFinished">
                            <td class="text-center">{{$index+1}}</td>
                            <td class="text-center"><i class="{{ourserviceItem.Icon}}"></i></td>
                            <td class="text-center">
                                <span ng-show="ourserviceItem.Status" class="text-success"><i class="fa fa-check"></i></span>
                                <span ng-show="!ourserviceItem.Status" class="text-danger"><i class="fa fa-ban"></i></span>
                            </td>
                            <td class="text-center">{{ourserviceItem.DisplayOrder}}</td>
                            <td ng-repeat="detailItem in ourserviceItem.Detail">{{detailItem.Title}}</td>
                            <td class="text-center">
                                <button class="btn btn-xs btn-primary" ng-click="updateOurService(ourserviceItem)"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-xs btn-danger" ng-click="deleteOurService(ourserviceItem)"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                        <tr ng-if="ourserviceList.length==0">
                            <td colspan="{{5+languageList.length}}" class="text-danger">Görüntülenecek içerik bulunamadı.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ourserviceModal" tabindex="-1" role="dialog" aria-labelledby="ourserviceModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="exampleModalLabel">Hizmet</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-0">
                    <div class="form-horizontal row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group row">
                                <input type="hidden" class="form-control" id="ourserviceId" ng-model="ourservice.Id">
                                <label class="col-sm-3">İkon</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="demo-icon"></i></span>
                                        <input type="text" class="form-control icon-class-input" disabled value="{{ourservice.Icon}}" id="icon-class" aria-describedby="basic-addon2">
                                        <span class="input-group-addon picker-button" id="basic-addon2">Değiştir</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3" for="LangCode">Sıralama</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="displayOrder" ng-model="ourservice.DisplayOrder">
                                </div>
                            </div>
                            <div class="form-group mb-0 row">
                                <label class="col-sm-3">Görünüm</label>
                                <div class="col-sm-9">
                                    <div class="checkbox">
                                        <label class="chkswitch">
                                            <input type="checkbox" id="Status" name="Status" ng-model="ourservice.Status">
                                            <span class="swtslider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12">
                            <div class="ibox bg-silver-100 mb-0">
                                <div class="ibox-head">
                                    <div class="ibox-title">Metinler</div>
                                    <ul class="nav nav-tabs tabs-line pull-right">
                                        <li class="nav-item" ng-repeat="lang in languageList">
                                            <a class="nav-link" data-toggle="tab" href="#menu{{lang.Id}}">{{lang.LangName}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ibox-body">
                                    <div class="tab-content">
                                        <div class="tab-pane" id="menu{{lang.Id}}" ng-repeat="lang in languageList" on-finish-render="ngRepeatDetailFinished" ng-if="newourservice">
                                            <div class="form-group row">
                                                <label class="col-sm-12" for="LangCode">{{lang.LangName}} Başlık</label>
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="ourserviceTitle-{{lang.Id}}" data-langNo="{{lang.Id}}" ng-model="lang.Title">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-12" for="LangCode">{{lang.LangName}} Açıklama</label>
                                                <div class="col-sm-12">
                                                    <textarea class="form-control" id="ourserviceDescription-{{lang.Id}}" ng-model="lang.Description"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="menu{{detail.LanguageId}}" ng-repeat="detail in ourservice.Detail" on-finish-render="ngRepeatDetailFinished" ng-if="!newourservice">
                                            <div class="form-group row">
                                                <label class="col-sm-12" for="LangCode">{{detail.Language}} Başlık</label>
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="ourserviceTitle-{{detail.LanguageId}}" data-langNo="{{detail.LanguageId}}" ng-model="detail.Title">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-12" for="LangCode">{{detail.Language}} Açıklama</label>
                                                <div class="col-sm-12">
                                                    <textarea class="form-control" id="ourserviceDescription-{{detail.LanguageId}}" ng-model="detail.Description"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">İptal</button>
                    <button type="button" class="btn btn-success" ng-click="saveOurService(ourservice)">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="iconPicker" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hizmet İkonu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div>
                    <ul class="icon-picker-list">
                        <li>
                            <a data-class="{ip-item} {ip-activeState}" data-index="{ip-index}">
                                <span class="{ip-item}"></span>
                                <!--<span class="name-class">{ip-item}</span>-->
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="change-icon" class="btn btn-success">Seç</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
            </div>
        </div>
    </div>
</div>

@section PageLevelStyles{
    <link href="~/Content/Admin/vendors/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/vendors/iconPicker/iconpicker-by-inputgroup.css" rel="stylesheet" />
    <style>
    </style>
}
@section PageLevelScripts{
    <script src="~/Content/Admin/vendors/DataTables/datatables.min.js" type="text/javascript"></script>
    <script src="~/Content/Admin/vendors/iconPicker/iconpicker-by-inputgroup.js"></script>
    <script src="~/Scripts/Admin/ourservice.js?@HttpContext.Current.Application["JSVer"]" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}


